.logo {
  padding: 2em;
  img {
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    text-align: center;
    display: flex;
  }
}

.welcomeCotnent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50vh;
  h3 {
    margin: 0;
  }
  p {
    width: 203px;
    text-align: center;
    font-size: 16px;
    margin: 20px 0 30px 0;
  }
}
